[package]
name = "children"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.62.2", features = [
    "Win32_Foundation",
    "Win32_System_Diagnostics_ToolHelp",
] }
